h1 {
  color: green;
}

.bg-image--blog {
  background-image: linear-gradient(
      45deg,
      rgba(green, 0.7),
      rgba(rgb(2, 2, 32), 0.5)
    ),
    url('../../assets/images/gratisography-279H.jpg');
}
