h1 {
  color: #ff0000;
}

.bg-image--index {
  background-image: linear-gradient(
      to left bottom,
      rgba(blue, 0.5),
      rgba(red, 0.5)
    ),
    url('../../assets/images/elephant.jpg');
}
