- var headTitle = "Gulp Less Pug Skeleton";
- var headDescription = "Skeleton to build static websties using Pug and Less, plus a live-reload webserver for faster development";
//- _template layout

doctype html
html(lang='ru')
  head 
    block title
      title= headTitle

    //- Meta
    meta(charset='UTF-8')
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1, maximum-scale=1'
    )
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    //- SEO

    //- Basic Seo
    block basicSeo
      meta(name='description', content=headDescription)
      meta(name='keywords', content='index, page')
      meta(name='author', content='')

    block links
      link(href='')

    //- Favicons
    //- link(rel='apple-touch-icon', sizes='180x180', href=require('images/favicons/apple-touch-icon.png'))
    //- link(rel='icon', type='image/png', sizes='32x32', href=require('images/favicons/favicon-32x32.png'))
    //- link(rel='icon', type='image/png', sizes='16x16', href=require('images/favicons/favicon-16x16.png'))
    //- link(rel='shortcut icon', href=require('images/favicons/favicon.ico'))

    //- font-awesome
    link(
      src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'
    )

    //- Preload fonts
    //- link(type='font/woff', href=require('source/assets/fonts/Quicksand-Bold.woff'), rel='preload', as='font', crossorigin)
    //- link(type='font/woff', href=require('source/assets/fonts/Quicksand-Medium.woff'), rel='preload', as='font', crossorigin)
    //- link(type='font/woff', href=require('source/assets/fonts/Quicksand-Regular.woff'), rel='preload', as='font', crossorigin)
    //- link(type='font/woff', href=require('source/assets/fonts/Quicksand-Light.woff'), rel='preload', as='font', crossorigin)

    //- block manifestBrowserconfigFiles
    //-   link(rel='manifest', href='./manifest.json')

  body
    block header
      include ../../components/header/header

    //- block content
    block content

    //- Footer
    block footer
      include ../../components/footer/footer

    //- block scripts
    block scripts
